.mainDiv{
  background: #EDC8E4;
  text-align: center;
  padding: 2%;
}
.eduDiv{
  border: 2px solid #000;
  background: #47E7E2;
  display: flex;
  justify-content:space-between;
  margin-bottom: 2%;
}
.sscDiv{
  width:30%;
  background: #A2DBF5;
  text-align: center;
  border: solid black;
}
.interDiv{
  width: 30%;
  background: #C18DF3;
  text-align: center;
  border: solid black;
}
.BtechDiv{
  width: 30%;
  background: #31A75B;
  text-align: center;
  border: solid black;
}
.personalDiv{
border: 2px solid #AED6F1;
margin-bottom: 2%;
}
